:root {
  --bg:#0b0d10; --card:#12161b; --text:#e8eef3; --muted:#a8b3bd; 
  --acc:#4cc9f0; --border:#1f242b;
}

body {
  margin:0;
  font:16px/1.6 system-ui, sans-serif;
  background:var(--bg);
  color: black;
  background-color: #caf4ff;
}

a { color:var(--acc); text-decoration:none; }
a:hover { text-decoration:underline; }

.wrap { max-width:960px; margin:auto; padding:24px; }

header {
  display:flex; gap:16px; align-items:center;
  padding:24px 5px; border:2.5px solid black;
  background-color: rgba(4, 209, 192, 0.5); border-radius: 10px;
}

header img {
  width:110px; height:110px;
  border-radius:50%; object-fit:cover;
  border:2px solid black;
}

header h1 { margin:0; font-size:1.75rem; }
header p { margin:4px 0 0; color: black; }

nav { margin-left:auto; display:flex; gap:14px; flex-wrap:wrap; }
nav a {
  padding:6px 10px;
  border:1px solid var(--border);
  border-radius:8px;
  background:var(--card);
}

section { padding:28px 0; }

.card-grid { display:grid; gap:16px; }
.card {
  background:var(--card);
  border:1.2px solid var(--border);
  border-radius:14px;
  padding:18px;
  background-color: #005dce;
  cursor: pointer;
}

.card:hover{
  background-color: red;
  color: black;
  transition: background-color 0.6s ease;
}

.card .pill{
  background-color: #003948;
}

.card h3 { margin:0 0 6px; }

.skills { display:flex; flex-wrap:wrap; gap:8px; }

.pill {
  padding:2px 10px;
  border:1px solid var(--border);
  border-radius:999px;
  color:var(--muted);
  font-size:.875rem;
  background-color: rgba(0,0,0,0.6);
}
.pill:hover{
  background-color: red;
  color: black;
  
}
footer {
  border-top:1px solid var(--border);
  padding:24px 0;
  color:var(--muted);
  font-size:.95rem;
}

.btn {
  display:inline-block;
  padding:10px 14px;
  border-radius:10px;
  border:1px solid var(--border);
  background:var(--card);
}

.llink{
  display:inline-block;
  padding:5px 14px;
  border-radius:10px;
  border:2px solid black;
  background-color: #ff01f6;
  box-shadow: 0.6 #008cff ;
  color: black;
}

.row { display:flex; gap:12px; flex-wrap:wrap; margin-top: 5px;}

h2{
  color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px 2px 2px 20px;
  border-radius: 6px;
  border: 2px solid black;
}

#contact-box{
  background-color: #ff6b6b;
  padding: 4px;
  border-radius: 10px;
  
}

#about{
  background-color: rgba(211,298,211,0.5);
}