:root {
  --bg:#0b0d10; --card:#12161b; --text:#e8eef3; --muted:#a8b3bd; 
  --acc:#4cc9f0; --border:#1f242b;
}

body {
  margin:0;
  font:16px/1.6 system-ui, sans-serif;
  background: #0b0d10;
  color: black;
  background-color: #c8f4ff;
}

a { color:var(--acc); text-decoration:none; }
a:hover { text-decoration:underline; }

.wrap { max-width:960px; margin:auto; padding:24px; }

header {
  display:flex; gap:16px; align-items:center;
  padding:12px 5px 14px 5px; 
  border:2.5px solid black;
  background-color: rgba(0, 0, 0, 0.8); border-radius: 10px;
  box-shadow: 3px 3px 0px rgba(30,30,30, 0.85);
}

header img {
  width:110px; height:110px;
  border-radius:50%; object-fit:cover;
  border:2px solid black;
}

header h1 { margin:0; font-size:1.75rem; }
header p { margin:4px 0 0; color: black; }

nav { margin-left:auto; display:flex; gap:14px; flex-wrap:wrap; margin-top: 15px;}
nav a {
  padding:6px 10px;
  border:1px solid #1f242b;
  border-radius:8px;
  background:#12161b;
}

section { padding:28px 0; }
h2{
  color: #000000;
  background-color: rgba(255, 255, 0, 0.8);
  padding: 2px 2px 2px 20px;
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 3px 3px 0px rgba(30,30,30, 0.85);
}

.card-grid { display:grid; gap:16px; }
.card {
  background: #12161b;
  border:1.2px solid #1f242b;
  border-radius:14px;
  padding:18px;
  background-color: rgba(133, 255, 152, 0.8);
  cursor: pointer;
}

.card:hover{
  background-color:rgba(65, 248, 93, 0.8);
  color: black;
  transition: background-color 0.6s ease;
}

.card .pill{
  background-color:  rgba(234, 102, 255, 0.6);
}

.card h3 { margin:0 0 6px; }

.skills { display:flex; flex-wrap:wrap; gap:8px; }

.pill {
  padding:2px 10px;
  border:1px solid var(--border);
  border-radius:999px;
  color: black;
  font-size:.875rem;
  box-shadow: 3px 3px 0px rgba(30,30,30, 0.85);
}
.pill:hover{
  background-color: rgba(234, 102, 255, 0.6);
  transition: background-color 0.3s ease-out;
  box-shadow: #0b0d10; 
}
footer {
  border-top:1px solid var(--border);
  padding:24px 0;
  color:var(--muted);
  font-size:.95rem;
}

.btn {
  display:inline-block;
  padding:5px 14px;
  border-radius:10px;
  border:1px solid var(--border);
  background:var(--card);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.55);
}

.llink{
  display:inline-block;
  padding:5px 14px;
  border-radius:10px;
  border:1.5px solid black;
  background-color: #fa47f4;
  box-shadow: 0.6 #008cff ;
  color: black;
  box-shadow: 3px 3px 0px rgba(30,30,30, 0.85);
}

.row { display:flex; gap:12px; flex-wrap:wrap; margin-top: 5px;}

#contact-box{
  background-color: rgba(202, 91, 253, 0.3);
  padding: 4px;
  border-radius: 10px;
}

#contact-box a{
  color: blue;
  text-decoration: underline;
}

